@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@800&display=swap');

@font-face {
  font-family: 'bb';
  src: url('../assets/fonts/BackIssuesBB_reg.otf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'bb';
  src: url('../assets/fonts/BackIssuesBB_boldital.otf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'bb';
  src: url('../assets/fonts/BackIssuesBB_ital.otf');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'cb';
  src: url('../assets/fonts/Cinderblock_75.otf');
  font-weight: 700;
  font-style: normal;
}

h1 {
  font-family: var(--heading-font);
  font-weight: bold;
  font-size: 9.375vw;
  line-height: 96%;
  color: var(--main-color);
}

h2 {
  font-family: var(--heading-font);
  font-weight: bold;
  font-size: 8.33333vw;
  line-height: 96%;
  color: var(--main-color);
}

.title-cap {
  font-family: var(--cap-font);
  font-weight: 800;
  font-size: 0.8333vw;
  letter-spacing: 0.11em;
  text-transform: uppercase;
  color: var(--white-color);
}

.text-md {
  font-size: 1.35vw;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.text-sm {
  font-size: max(0.833333vw, 16px);
  line-height: 140%;
  letter-spacing: -0.02em;
  color: #ffffff;
}
