:root {
  --main-color: #ffad4a;
  --black-color: #34220c;
  --white-color: white;
  --boder-color: #302525;

  --transition-timing-function: cubic-bezier(0.1, 0.7, 1, 0.1);

  --heading-font: cb;
  --body-font: bb;
  --cap-font: "Barlow", sans-serif;

  --skew-btn: skew(-16deg);
  --skew-btn-text: skew(16deg);

  --header-height: 60px;
  --transition-width: 250vw;
  --transition-unit: 2.5;
}
